{
  "stage"    : 0,
  "optional" : "runtime",
  "loose"    : "all",
  "env":
  {
    "development/client":
    {
      "plugins":
      [
        "react-transform"
      ],
      "extra":
      {
        "react-transform":
        [{
          "target"  : "react-transform-hmr",
          "imports" : ["react"],
          "locals"  : ["module"]
        }]
      }
    }
  }
}
