@import 'colors';
/* Styles */
.ui.grid.main {
    margin-top: 1rem;
}

.content-container {
 padding-top : 5.5rem
}

.auth{
  height: 100vh;
  // background-image: url('../assets/auth_bg.jpg');
  background-color: $mcwLightBlue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;

  &.grid{
    margin: 0!important;
  }
}

/*login*/
.login {
  z-index: 2;
  &.column {
    max-width: 450px;
  }

  .image {
    margin-top: -100px;
  }
}

a.authLink {
   color:white;
   border-bottom: white solid 1px;
 }

a:hover.authLink {
  color:white;
  border-bottom: white solid 1px;
}

/*  Segments  */
.no-padded-segment  {
 padding: 0 !important;
}

.no-padded {
  padding: 0 !important;
}

.leaflet-container {
  padding: 0 !important;
  position:absolute;
  height: 250px;
  width: 100%;
  margin: 0 !important;
}

.simple-table {
  border: none !important;

  thead {
    th {
      text-align: center !important;
      padding: 1rem !important;
      vertical-align: top !important;
      border: none !important;
      -webkit-transition: all 0.3s ease !important;
      -o-transition: all 0.3s ease !important;
      transition: all 0.3s ease !important;
      th{
        border: none !important;

      }
    }

    tbody {
      tr{
        border: none !important;
        text-align: center !important;
        td{
          border: none !important;
          .centered-cell {
            text-align: center !important;
          }
        }
      }
    }

  }




}


